# #Dictionaries

In [9]:
emp_details={'Employee':{'Moses':{'ID':'001','salary':'4000','Designation':'Team Leader'},
                        'Dave':{'ID':'6500','salary':'4980','Designation':'Hard worker'}}}
print(emp_details)

{'Employee': {'Moses': {'ID': '001', 'salary': '4000', 'Designation': 'Team Leader'}, 'Dave': {'ID': '6500', 'salary': '4980', 'Designation': 'Hard worker'}}}

# Accessing Items

In [16]:
my_dict['Moses']

'0001'

In [8]:
my_dict={'Moses':'0001','Aah':'0999','Masinya':'002'}
print(my_dict)
type(my_dict)

{'Moses': '0001', 'Aah': '0999', 'Masinya': '002'}

dict

# dictionaries to df

In [19]:
import pandas as pd

In [ ]:
#df=pd.DataFrame

In [17]:
my_dict

{'Moses': '0001', 'Aah': '0999', 'Masinya': '002'}

In [23]:
my_dict.keys()

dict_keys(['Moses', 'Aah', 'Masinya'])

In [24]:
my_dict.values()

dict_values(['0001', '0999', '002'])

In [31]:
for x in my_dict:
    print (x)

Moses
Aah
Masinya

In [37]:
for x in my_dict.values():
    print (x)

0001
0999
002

In [38]:
for x,y in my_dict.items():
    print (x,y)

Moses 0001
Aah 0999
Masinya 002

# Updating

In [41]:
my_dict['Aah']='00098'
my_dict['Dave']='001'
my_dict

{'Moses': '0001', 'Aah': '00098', 'Masinya': '002', 'Dave': '001'}

# Deleting  Enteries

In [42]:
my_dict.pop('Aah')

'00098'

In [43]:
my_dict.popitem()

('Dave', '001')

In [45]:
del my_dict['Masinya']

In [56]:
my_dict

{'Moses': '0001'}

# Dict to dataframe

In [55]:
df=pd.DataFrame(emp_details['Employee'])
df.head()

                   Moses         Dave
ID                   001         6500
salary              4000         4980
Designation  Team Leader  Hard worker